@tailwind base;
@tailwind components;
@tailwind utilities;
.card-list .swiper-slide {
    width: auto;
  }
  .cards .swiper-slide {
    width: auto;
  }
  .paginate ul {
    @apply flex items-center gap-x-3
  }
  
  .paginate ul li {
    @apply bg-gray-300 p-1 rounded
  }
  .paginate ul li.selected {
    @apply bg-red-500 p-1 text-white rounded
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }